
.search-box { 
    width: max(300px, 60%);
    height: 40px;
    margin: auto;
    display : flex;
    padding-right: 10px;
    /* margin-right: 10px; */
}

/* clear button shifted on top of search bar */
.rbt-aux { 
    margin-left: -30px;
}

.theme-button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
    height: 40px;
    width: 140px;
  }
  
  /* search in same line as clear button and dark mode toggle */
  .search-bar {
    display : flex;
  }
  
  /* have to hide an x on the clear button for some reason */
  .rbt-close-content {
    display: none;
  }

  .search-img {
    border-radius: 50%;
    object-fit: cover;
    height: 44px;
    margin-right: 10px;
    width: 44px;
  }
  